# Ignore Python bytecode
# __pycache__/
# *.pyc
#Ignore all pycache


# Ignore test database
instance/temp-database.db

# Ignore VS Code settings (optional)
#.vscode/

# Ignore environment files (optional)
.env

*.pyc
