# Ignore Python bytecode
# __pycache__/

#Ignore all pycache
*.pyc



# Ignore test database
instance/temp-database.db

# Ignore VS Code settings (optional)
#.vscode/

# Ignore environment files (optional)
.env

*.db
