# Ignore Python bytecode
*.pyc
__pycache__/
**/__pycache__/


# Ignore test database
instance/temp-database.db
*.db


# Ignore environment files (optional)
.env


# Ignore VS Code settings (optional)
#.vscode/
